:root {
    --noir: #000;
    --blanc: #fff;
    --rouge: #f00;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: var(--noir);
    width: 100vw;
    height: 20vh;
    color: var(--blanc);
    display: flex;
    flex-flow: column;
}

.menu_wrap {
    align-self: flex-end;
    display: block;
    right: 0px;
} 

.menu_list {
    list-style: none;
    display: flex;
    width: 60vw;
    justify-content: space-around;
}

.menu {
    width: 33%;
    height: 40px;
    display: inline-flex;
    margin: 10px;
    padding: 5px;
}

.menu_mouse_on {
    background-color: var(--rouge);
    animation-name: menuAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes menuAnimation {
    from { opacity: 0% }
    to { opacity: 100% }
}

content {
    width: 100vw;
}